* {
    background-color: #ddf4b4;
}

.header,
h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-shadow: 1px 1px 1px grey;
}

h1,
.recipe-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-link {
    color: #900C3F;
    font-size: 18px;
    list-style: none;
    margin-left: -1em;
}

.dish-name {
    font-size: 34px;
}

.recipe-pic {
    display: grid;
    place-items: center;
}

img {
    box-shadow: 0 0 0.3em 0.3em rgba(49, 45, 45, 0.3);
    border-radius: 5px;
    width: 350px;
    height: auto;
}